html {
  font-size: 125%;
}
.mymenu {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 54px;
  z-index: 999;
  background: white;
  position: fixed;
}
.menu {
  display: flex;
  justify-content: center;
  justify-items: center;
  position: fixed;
  width: 1200px;
  margin: auto;
  border-bottom: solid #e8e8e8;
}
.desktop-menu-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: auto;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #448899;
}
.mytext {
  margin: 10px;
}
.desktop-menu-right {
  color: #666666;
  flex: auto;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 999;
}
.item {
  flex: none; /*固定配置*/
  margin: 10px;
  text-align: center;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
  border: 0px;
  background-color: #ffffff;
}
.headline {
  display: flex;
  justify-content: center;
  height: 391px;
}
.headlinetext {
  width: 1000px;
  height: 16px;
  margin-top: 100px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #666666;
  position: relative;
}
.nonetext {
  position: absolute;
  top: 51px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #666666;
}
.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  background: rgba(0, 0, 0, 0);
  display: none;
}
.signinblock {
  width: 340px;
  height: 275px;
  background-color: #ffffff;
  z-index: 999;
  margin-top: 26px;
  box-shadow: 0px 4px 60px #aaaaaa;
  border-radius: 6px;
  display: none;
}
.signinblockhead {
  width: 340px;
  height: 10px;
  z-index: 1000;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  border-radius: 6px 6px 0 0;
}
.signinblockcontent {
  display: flex;
  align-items: center;
  width: 340px;
  height: 265px;
  flex-direction: column;
}
.signinblocktitle {
  width: 310px;
  height: 27px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}
.signinblock_close {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0px;
  bottom: 7px;
  background-image: url(/PNG/icon_close.png);
  background-color: #ffffff;
  border: 0px;
}
.signinblockinput {
  width: 310px;
  height: 196px;
  position: relative;
}
.signinemail {
  width: 288px;
  height: 47px;
  padding: 0px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.signinemailtext {
  width: 280px;
  height: 17px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #757575;
  padding: 15px;
  z-index: 1000;
  top: 2px;
  position: absolute;
  text-align: left;
}
.signinpassword {
  width: 288px;
  height: 47px;
  padding: 0px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.signinpasswordtext {
  width: 280px;
  height: 17px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #757575;
  padding: 15px;
  z-index: 1000;
  top: 62px;
  position: absolute;
  text-align: left;
}
.signinaccountbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 310px;
  height: 47px;
  background: #448899;
  border-radius: 5px;
  margin-top: 10px;
  border: 0px;
  padding: 0px;
}
.signinaccountbuttontext {
  position: absolute;
  width: 270px;
  height: 27px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.clicktosignup {
  position: absolute;
  width: 310px;
  height: 22px;
  top: 165px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #666666;
  padding-bottom: 15px;
  padding-top: 10px;
}
.signupblock {
  width: 340px;
  height: 332px;
  background-color: #ffffff;
  z-index: 999;
  margin-top: 26px;
  box-shadow: 0px 4px 60px #aaaaaa;
  border-radius: 6px;
  display: none;
}
.signupblockhead {
  width: 340px;
  height: 10px;
  z-index: 1000;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  border-radius: 6px 6px 0 0;
}
.signupblockcontent {
  display: flex;
  align-items: center;
  width: 340px;
  height: 322px;
  flex-direction: column;
}
.signupblocktitle {
  width: 310px;
  height: 27px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}
.signupblock_close {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0px;
  bottom: 7px;
  background-image: url(/PNG/icon_close.png);
  background-color: #ffffff;
  border: 0px;
}
.signupblockinput {
  width: 310px;
  height: 250px;
  position: relative;
}
.signupname {
  width: 288px;
  height: 47px;
  padding: 0px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.signupnametext {
  width: 280px;
  height: 17px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #757575;
  padding: 15px;
  z-index: 1000;
  top: 2px;
  position: absolute;
  text-align: left;
}
.signupemail {
  width: 288px;
  height: 47px;
  padding: 0px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.signupemailtext {
  width: 280px;
  height: 17px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #757575;
  padding: 15px;
  z-index: 1000;
  top: 62px;
  position: absolute;
  text-align: left;
}
.signuppassword {
  width: 288px;
  height: 47px;
  padding: 0px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.signuppasswordtext {
  width: 280px;
  height: 17px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #757575;
  padding: 15px;
  z-index: 1000;
  top: 122px;
  position: absolute;
  text-align: left;
}
.signupaccountbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 310px;
  height: 47px;
  background: #448899;
  border-radius: 5px;
  margin-top: 10px;
  border: 0px;
  padding: 0px;
}
.signupaccountbuttontext {
  position: absolute;
  width: 270px;
  height: 27px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.clicktosignin {
  position: absolute;
  width: 310px;
  height: 22px;
  top: 224px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #666666;
  padding-bottom: 15px;
  padding-top: 10px;
}
.newresult {
  position: absolute;
  width: 310px;
  height: 22px;
  top: 224px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #666666;
  padding-bottom: 10px;
  padding-top: 10px;
}
.theresult {
  position: absolute;
  width: 310px;
  height: 22px;
  top: 165px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #666666;
  padding-bottom: 10px;
  padding-top: 10px;
}
.slogan {
  display: flex;
  position: absolute;
  width: 1000px;
  top: 54px;
  color: #f8f8f8;
  flex-direction: row;
  padding-top: 37px;
  height: fit-content;
  padding-bottom: 37px;
  height: 406px;
}
.left-content {
  position: absolute;
  width: 246px;
  height: 200px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-size: 30px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #f8f8f8;
  top: 100px;
  background-size: cover;
  background-color: #000000;
  border-left: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
}
.right-content {
  position: absolute;
  width: 600px;
  height: 200px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #f8f8f8;
  left: 288px;
  top: 100px;
}
.contenttitle {
  position: absolute;
  height: 14px;
  left: 0px;
  top: 5px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #448899;
}
.contentdate {
  position: absolute;
  height: 14px;
  left: 0px;
  top: 49px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13.3px;
  display: flex;
  align-items: center;
  color: #666666;
}
.contentdatetext {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #666666;
}
.contenttime {
  position: absolute;
  height: 14px;
  left: 0px;
  top: 83px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13.3px;
  display: flex;
  align-items: center;
  color: #666666;
}
.contenttimetext {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #666666;
}
.contentcost {
  position: absolute;
  height: 14px;
  left: 0px;
  top: 117px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13.3px;
  display: flex;
  align-items: center;
  color: #666666;
}
.contentcosttext {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #666666;
}
.contentaddress {
  position: absolute;
  height: 14px;
  left: 0px;
  top: 151px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13.3px;
  display: flex;
  align-items: center;
  color: #666666;
}
.contentaddresstext {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #666666;
}
.delete-content {
  position: absolute;
  right: 10px;
}
.deletebutton {
  background-image: url(/PNG/icon_delete.png);
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border: 0px;
}
.hrline {
  max-width: 1200px;
  margin: 0px auto;
  height: 0px;
  border: 1px solid #e8e8e8;
}
.list {
  display: flex;
  justify-content: center;
  height: auto;
}
.mylist {
  justify-content: center;
  justify-items: center;
  width: 1000px;
  height: auto; /* 留白用 */
}
.listtitletext {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #666666;
  padding-top: 44px;
  padding-bottom: 24px;
}
.contectname {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #666666;
  margin-bottom: 15px;
}
.contectnametext {
  padding-top: 7px;
  padding-bottom: 7px;
}
.contectnameinput {
  width: 180px;
  height: 18px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.contectemail {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #666666;
  margin-bottom: 15px;
}
.contectemailtext {
  padding-top: 7px;
  padding-bottom: 7px;
}
.contectemailinput {
  width: 180px;
  height: 18px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.contectphone {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #666666;
  margin-bottom: 20px;
}
.contectphonetext {
  padding-top: 7px;
  padding-bottom: 7px;
}
.contectphoneinput {
  width: 180px;
  height: 18px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.attentiontext {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #666666;
  margin-top: 5px;
  margin-bottom: 45px;
}
.mytotallist {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 990px;
  height: auto;
}
.cardnumber {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #666666;
  margin-bottom: 15px;
}
.cardnumbertext {
  padding-top: 7px;
  padding-bottom: 7px;
}
.cardnumberinput {
  width: 180px;
  height: 18px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.cardtime {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #666666;
  margin-bottom: 15px;
}
.cardtimetext {
  padding-top: 7px;
  padding-bottom: 7px;
}
.cardtimeinput {
  width: 180px;
  height: 18px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.cardpassword {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #666666;
  margin-bottom: 40px;
}
.cardpassword {
  padding-top: 7px;
  padding-bottom: 7px;
}
.cardpasswordinput {
  width: 180px;
  height: 18px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.totaltext {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #666666;
  margin-top: 40px;
  margin-bottom: 25px;
}
.startbookingbutton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  width: 173px;
  height: 36px;
  background: #448899;
  border-radius: 5px;
  border: 0px;
  margin-bottom: 62px;
}
.startbookingtext {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 0px;
  background: #757575;
  justify-content: center;
  height: 104px;
}
.footer .text {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #ffffff;
}

@media (max-width: 1200px) {
  /* 螢幕寬度小於 1200px, 套用這個區塊的 css*/

  .menu {
    width: 100vw;
  }
  .desktop-menu-left {
    padding-left: 9vw;
    padding-top: 5px;
  }
  .desktop-menu-right {
    padding-right: 9vw;
    padding-top: 2px;
  }
  .item {
    flex: none; /*固定配置*/
    margin: 10px;
    text-align: center;
  }
  .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    padding-bottom: 37px;
  }
  .headlinetext {
    position: relative;
    margin-bottom: 250px;
    margin-left: 95px;
  }
  .slogan {
    display: flex;
    justify-content: flex-start;
    width: 90vw;
    height: 260px;
    margin-left: 95px;
    top: 120px;
  }
  .left-content {
    position: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: auto;
    align-items: center;
    height: 200px;
    background-position: center;
    max-width: 246px;
  }
  .right-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex: auto;
    align-items: center;
    max-width: 35vw;
    left: 12px;
    top: 0px;
  }
  .deletebutton {
    margin-right: 2vw;
  }
  .contenttitle {
    margin-top: 5px;
    line-height: 20px;
  }
  .contentaddresstitle {
    min-width: 50px;
  }
  .contentaddresstext {
    line-height: 20px;
  }
  .hrline {
    width: 81vw;
    margin-top: 15px;
  }
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 0px;
  }
  .mylist {
    flex-direction: column;
    align-content: center;
    display: flex;
    top: 570px;
    height: auto;
    height: auto;
    position: unset;
    width: 960px;
    margin-left: 95px;
    margin-right: 10px;
  }
  .attentiontext {
    line-height: 23.17px;
  }
  .mytotallist {
    margin-right: 80px;
  }
}

@media (max-width: 600px) {
  .desktop-menu-left {
    padding: 10px;
    width: 150px;
  }
  .mytext {
    margin: 0px;
    width: 150px;
    padding: 0px;
  }
  .desktop-menu-right {
    padding: 10px;
  }
  .item {
    margin: 0px;
  }
  .headline {
    padding-bottom: 382px;
    height: 305px;
  }
  .headlinetext {
    position: relative;
    margin-bottom: 189px;
    margin-left: 10px;
  }
  .slogan {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    top: -340px;
    margin: 0px;
  }
  .left-content {
    min-width: 90vw;
    margin-top: 490px;
    height: 419px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 10px;
    height: 256px;
    margin-bottom: 10px;
  }
  .right-content {
    width: 340px;
    right: 0px;
    display: unset;
    justify-content: center;
    flex: unset;
    position: unset;
    max-width: unset;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .deletebutton {
    margin-top: 1000px;
    margin-right: -20px;
  }
  .contenttitle {
    position: unset;
    position: unset;
    width: 340px;
    height: 33px;
    left: 0px;
    top: 0px;
  }
  .contentdate {
    position: unset;
    width: 340px;
    height: 22px;
    left: 0px;
    padding-top: 15px;
  }
  .contenttime {
    position: unset;
    width: 340px;
    height: 22px;
    left: 0px;
    padding-top: 15px;
  }
  .contentcost {
    position: unset;
    width: 340px;
    height: 22px;
    left: 0px;
    padding-top: 15px;
  }
  .contentaddress {
    position: unset;
    width: 340px;
    height: 22px;
    left: 0px;
    padding-top: 15px;
  }
  .hrline {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 94vw;
  }
  .list {
    height: auto;
    margin-top: 0px;
  }
  .mylist {
    height: auto;
    position: unset;
    width: 340px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .attentiontext {
    margin-bottom: 25px;
  }
  .cardpassword {
    margin-bottom: 25px;
  }
  .mytotallist {
    margin-right: 10px;
  }
  .startbookingbutton {
    margin-bottom: 72px;
  }
}
