<!-- 清除瀏覽器預設值 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Website-台北市政府提供景點公開資料</title>
    <link rel="stylesheet" type="text/css" href="/attractionlayout.css" />
  </head>
  <body
    style="
      margin-top: 0px;
      margin-right: 0px;
      margin-left: 0px;
      margin-bottom: 0px;
    "
  >
    <div class="desktop-view">
      <div class="mymenu">
        <div class="menu">
          <!--右上選單-->
          <div class="desktop-menu-left">
            <text class="mytext">台北一日遊</text>
          </div>
          <div class="desktop-menu-right">
            <button class="item">預定行程</button>
            <button class="item">登入/註冊</button>
          </div>
        </div>
      </div>

      <div class="headline" id="headline">
        <!--內容欄-->
        <div class="slogan">
          <div class="left-content">
            <div class="imgbutton">
              <button class="imgleftarrowbutton"></button>
              <button class="imgrightarrowbutton"></button>
            </div>
          </div>
          <div class="right-content">
            <text class="contenttitle">平安鐘</text>
            <text class="categoryandmrt">公共藝術 at 忠孝復興</text>
            <div class="bookingblock">
              <text class="bookingtitle">訂購導覽行程</text>
              <text class="bookingdirections"
                >以此景點為中心的一日行程，帶您探索城市角落故事</text
              >
              <div class="divdate">
                <text class="bookingdate">選擇日期：</text>
                <input
                  type="date"
                  id="date"
                  name="trip-date"
                  class="bookingcalendar"
                />
              </div>
              <div class="divtime">
                <text class="bookingtime">選擇時間：</text>
                <button class="firsthalfdaybutton"></button>
                <button class="firsthalfdaybuttonselected"></button>
                <text class="firsthalfdaytext">上半天</text>
                <button class="secondhalfdaybutton"></button>
                <button class="secondhalfdaybuttonselected"></button>
                <text class="secondhalfdaytext">下半天</text>
              </div>
              <div class="divcost">
                <text class="bookingcost">導覽費用：</text>
                <text class="costtext">新台幣 2000 元</text>
              </div>
              <div class="divstartbooking">
                <button class="startbookingbutton">
                  <text class="startbookingtext">開始預約行程</text>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hrline"></div>
      <div class="list">
        <div class="mylist">
          <div class="descriptiontext">
            平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。
            這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，更應該有謙卑的一顆心。
          </div>
          <div class="addresstitle">景點地址：</div>
          <div class="addresstext">臺北市 大安區忠孝東路4段</div>
          <div class="transporttitle">交通方式：</div>
          <div class="transporttext">
            捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、605(新台五線)、667、903、忠孝新幹線至頂好市場站
            2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer class="footer">
    <footer class="text">COPYRIGHT © 2022 台北一日遊</footer>
  </footer>
</html>
