<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/layout.css" />
    <title>測試頁面</title>
  </head>
  <body>
    <header>歡迎光臨，這是測試頁面</header>

    <div class="function">
      <h4>選擇頁數、查詢景點分類、景點關鍵字</h4>
      <form action="/api/attraction" method="GET">
        頁數<input type="int" name="page" id="page" />
        <br />
        搜尋<input type="text" name="input" id="input" />
        <button>查詢</button>
      </form>
    </div>
    <br />
  </body>
  <script>
    function getmore() {
      //   const username = document.getElementById("username").value; //查詢會員姓名 的輸入值
      //   fetch(`/api/member?username=${username}`)
      //     .then(function (response) {
      //       return response.json();
      //     })
      //     .then(function (data) {
      //       console.log(data);
      //       if (data["data"] != null) {
      //         let thename = data["data"]["name"]; //會員姓名
      //         let theusername = data["data"]["username"]; //會員帳號
      //         console.log(thename);
      //         console.log(theusername);
      //         addname(thename, theusername);
      //       } else {
      //         errorname();
      //       }
      //     });
    }
  </script>
</html>
